#anterior, #proximo{
	position: absolute;
	top: 700px;
}

#anterior{
	left: 10px;
}
#proximo{
	right: 10px;
}

#ant, #prox{
	position: absolute;
	top: 1150px;
}

#ant{
	left: 10px;
}

#prox{
	right: 10px;
}

#ante, #proxi{
	position: absolute;
	top: 1600px;
}

#ante{
	left: 10px;
}

#proxi{
	right: 10px;
}

#anter, #proxim{
	position: absolute;
	top: 2050px;
}

#anter{
	left: 10px;
}

#proxim{
	right: 10px;
}